.circle{
    width: 200px;
    height: 200px;
    background-color: #aaaa;
    border-radius: 100%;
}

.btn{
    font-size: 25px;
}

.on{
    background-color: yellow;
}

.off{
    background-color: #aaaa;
}